body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#space {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

#background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.5s ease;
}

#background-container.unblurred {
    filter: none;
}

#background-container.blurred {
    filter: blur(5px);
}

#background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('sprigggg.png') no-repeat center center;
    background-size: cover;
    z-index: 0;
}

#black-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#login-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    animation: moveStar linear infinite, glow 1.5s alternate infinite;
}

@keyframes moveStar {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
    to {
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
}

.typing-container {
    display: inline-block;
    border-right: 2px solid #ff4081;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 6s steps(22, end), blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #ff4081;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.hidden {
    display: none;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
}

input:focus {
    outline: none;
    border-color: #ff4081;
    box-shadow: 0 0 5px #ff4081;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff4081;
    display: none;
    margin-top: 20px;
    transition: opacity 1s ease-in-out;
}

button.show {
    display: block;
    opacity: 1;
}

button.hide {
    opacity: 0;
}

#password-container {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translateY(-20px);
}
